.Fruit {
  margin: 150px 350px;
  display: flex;
  justify-content: space-between;
}
.category {
  border: 0.5px solid rgb(243, 244, 246);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 5px;
  font-size: 10px;
  font-weight: 200;
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding: 1rem;
}
.shop {
  width: 50%;
  margin-top: 1.5rem;
  font-size: 1rem;
}
.buy {
  border: 2px solid blueviolet;
  font-size: 1rem;
  padding: 8px 1rem;
  border-radius: 25px;
  background-color: blueviolet;
  color: white;
}
.Fruit img {
  width: 180px;
}
.buy:hover {
  background-color: rgb(46, 7, 46);
}
